[submodule "Mad/port/spdlog"]
	path = Mad/port/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Mad/port/GLFW"]
	path = Mad/port/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Hazel/vendor/imgui"]
	path = Hazel/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Mad/port/glm"]
	path = Mad/port/glm
	url = https://github.com/g-truc/glm
[submodule "Mad/port/yaml-cpp"]
	path = Mad/port/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
[submodule "Mad/port/ImGuizmo"]
	path = Mad/port/ImGuizmo
	url = https://github.com/thecherno/imguizmo