[submodule "Mad/port/spdlog"]
	path = Mad/port/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Mad/port/GLFW"]
	path = Mad/port/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Hazel/vendor/imgui"]
	path = Hazel/vendor/imgui
	url = https://github.com/TheCherno/imgui